/* Ana sayfa sarmalayıcısı */
.layoutContainer {
    width: 100%;
    min-height: 100vh;
    background-color: transparent;
    display: flex;
    flex-direction: column;
}

.mainContent {
    width: 100%;
    flex: 1;
}